.study {
  padding-top: 80px;

  @include tablet() {
    padding-top: 200px;
  }

  .container {
    max-width: 1064px;
  }

  &-title {
    margin-bottom: 29px;
  }
  &__wrapper {
    .study-img {
      margin-bottom: 16px;
      border-radius: 20px;
      padding: 15px 12px;
      width: 100%;
      background: rgba(96, 96, 96, 0.8);
      @include tablet() {
        background: unset;
        padding: unset;
      }
    }
    button {
      display: flex;
      margin-bottom: 24px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 100%;
      border-radius: 40px;
      background: rgb(65, 65, 65);
      color: rgb(255, 255, 255);
      font-size: 12px;
      font-weight: 500;
      line-height: 120%;
      padding: 4px 15px;

      @include tablet() {
        margin: unset;
        border-radius: 40px;
        padding: 8px 32px;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 20px;
      }
    }
  }

  .slide__wrapper {
    @include tablet() {
      border: 1px solid rgb(255, 255, 255);
      border-radius: 16px;
      background: rgba(96, 96, 96, 0.8);
      padding: 21px 25px;
    }
  }

  .slide {
    padding: 28px 23px;
    border-radius: 40px;
    background: rgb(10, 10, 10);
    @include tablet() {
      padding: 41px 28px;
      display: flex;
      gap: 35px;
    }
  }

  .slider-indicator {
    bottom: 50px;
    @include tablet() {
      bottom: 60px;
      right: 35%;
      transform: translateX(22%);
    }
    @include desktop-small() {
      bottom: 80px;
      right: 40%;
      transform: translateX(22%);
    }
  }

  .slider_wraps {
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 60px;
    background: rgb(255, 255, 255);

    @include tablet() {
      padding: 29px 41px 47px 41px;
      width: 50%;
    }

    h3 {
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 800;
      line-height: 120%;

      @include tablet-small() {
        font-size: 24px;
      }
      @include tablet() {
        font-size: 32px;
      }
    }
    p {
      color: rgb(88, 84, 84);
      font-size: 12px;
      font-weight: 400;
      line-height: 120%;
      margin-top: 10px;
      @include tablet-small() {
        margin-top: 25px;
        font-size: 12px;
      }
      @include tablet() {
        margin-top: 48px;
        font-size: 16px;
      }
    }
  }
}
