<section class="community">
    <div class="container">
        <h2 class="title">Експертна спільнота</h2>
        <ul class="community__wrap__list expert__wrap__list">
            <li style="display: flex;">
                <div class="community__list__wrapper">
                    <h3>Центр карьеры</h3>
                    <p>ipsum dolor sit amet consectetur adipisicing elit.
                        Quod, id sequi aut qui
                        est ab, corporis quis maiores reiciendis explicabo
                        odio tenetur nulla sint
                        velipsum dolor sit amet consectetur adipisicing
                        elit. Quod, id sequi aut
                        qui est ab, corporis quis maiores reiciendis
                        explicabo odio tenetur nulla
                        sint vel.</p>
                    <div class="community__buttons">
                        <img class="community-img mob"
                            src="./images/community_01.png"
                            alt="community_01">
                        <div class="">
                            <button type="button"
                                class="community_btn expert_btn">Востребованные
                                профессии</button>
                            <button type="button"
                                class="community_btn expert_btn">Практика
                                на
                                реальных
                                задачах</button>
                        </div>
                    </div>
                </div>
                <img class="community-img desc"
                    src="./images/community_01.png" alt="community_01">
            </li>
            <li style="display: none;">
                <div class="community__list__wrapper">
                    <h3>Центр карьеры</h3>
                    <p>ipsum dolor sit amet consectetur adipisicing elit.
                        Quod, id sequi aut qui
                        est ab, corporis quis maiores reiciendis explicabo
                        odio tenetur nulla sint
                        velipsum dolor sit amet consectetur adipisicing
                        elit. Quod, id sequi aut
                        qui est ab, corporis quis maiores reiciendis
                        explicabo odio tenetur nulla
                        sint vel.</p>
                    <div class="community__buttons">
                        <img class="community-img sec mob"
                            src="./images/community_02.png"
                            alt="community_02">
                        <div class="">
                            <button type="button"
                                class="community_btn expert_btn">Востребованные
                                профессии</button>
                            <button type="button"
                                class="community_btn expert_btn">Практика
                                на
                                реальных
                                задачах</button>
                        </div>
                    </div>
                </div>
                <img class="community-img sec desc"
                    src="./images/community_02.png" alt="community_02">
            </li>
        </ul>

    </div>

</section>