<section class="expert">
    <div class="container">
        <h2 class="title">Центр кар'єри</h2>
        <ul class="expert__wrap__list">
            <li style="display: flex;">
                <div class="expert__list__wrapper">
                    <h3>Для взрослых</h3>
                    <p>ipsum dolor sit amet consectetur adipisicing elit.
                        Quod,
                        id sequi aut qui
                        est ab, corporis quis maiores reiciendis explicabo
                        odio
                        tenetur nulla sint
                        vel.</p>
                    <div class="expert__buttons">
                        <img class="expert-img mob"
                            src="./images/expert_01.png" alt="expert_01">
                        <div class="">
                            <button type="button"
                                class="expert_btn">Востребованные
                                профессии</button>
                            <button type="button"
                                class="expert_btn">Практика на
                                реальных
                                задачах</button>
                        </div>
                    </div>
                </div>
                <img class="expert-img desc" src="./images/expert_01.png"
                    alt="expert_01">
            </li>
            <li style="display: none;">
                <div class="expert__list__wrapper">
                    <h3>Для взрослых</h3>
                    <p>ipsum dolor sit amet consectetur adipisicing elit.
                        Quod,
                        id sequi aut qui
                        est ab, corporis quis maiores reiciendis explicabo
                        odio
                        tenetur nulla sint
                        vel.</p>
                    <div class="expert__buttons">
                        <img class="expert-img sec mob"
                            src="./images/expert_02.png" alt="expert_02">
                        <div class="">
                            <button type="button"
                                class="expert_btn">Востребованные
                                профессии</button>
                            <button type="button"
                                class="expert_btn">Практика на
                                реальных
                                задачах</button>
                        </div>
                    </div>
                </div>
                <img class="expert-img sec desc"
                    src="./images/expert_02.png" alt="expert_02">
            </li>
        </ul>

    </div>

</section>