<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <a href="/" class="footer__logo">
                <img src="./images/logo.png" alt="logo">
                Logo
            </a>
            <p class="footer-text">Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Voluptatibus
                facere modi possimus dignissimos, aliquam nobis eaque?
                Voluptatem
                magnam
                quisquam rem.</p>
            <span class="footer-subtext desc">© 2024 Created
                by: Martin</span>
        </div>
        <div class="footer__wrapper">
            <div class="footer__wrapper__contact">
                <h3>Contact Information</h3>
                <a href="/"><img src="./images/email.png"
                        alt="example@support.com">example@support.com</a>
                <a href="/"><img src="./images/map.png"
                        alt="5 xyz st., adc, vallhalla">5 xyz st., adc,
                    vallhalla</a>
            </div>
            <div class="footer__wrapper_policy">
                <a href="/terms">Terms of Use</a>
                <a href="/privacy">Privacy Policy</a>
            </div>


        </div>

        <span class="footer-subtext mob">© 2024 Created by: Martin</span>
    </div>

</footer>