<header class="head">
    <div class="container">
        <a href="/" width="13.3" height="13.3" class="head-logo"><img
                src="./images/logo.png" alt="logo">
            Logo</a>
        <button type="button" class="btn-open">
            <img src="./images/burger_open.png" alt="burger_open">
        </button>
        <button type="button" class="btn-close none">
            <img src="./images/burger_close.png" alt="burger_close">
        </button>

        <nav class="head__nav menu-container">
            <a href="/" width="13.3" height="13.3"
                class="head-logo head-logo-menu"><img
                    src="./images/logo.png" alt="logo"> Logo</a>
            <ul class="head__nav__list">
                <li><a id="active-link" href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/pages">Pages</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>
    </div>
</header>