<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <h1 class="hero-title"> Lorem ipsum dolor sit amet consectetur
                adipisicing elit.</h1>
            <p class="hero-text"> Lorem ipsum dolor sit amet consectetur
                adipisicing elit. A officia
                molestiae dolorum tempora ut accusamus cupiditate! Nesciunt
                tempora
                reiciendis libero voluptate!</p>
            <button
                class="hero-btn hero-btn-desc">Зарегистрироваться</button>
        </div>
        <div class="hero__subwrapper">
            <img src="./images/hero_img-desk.png" alt="hero_img"
                class="hero-img">
        </div>

        <div class="hero_cont">
            <img src="./images/hero_img001.png" alt="" class="hero-subimg">

            <span class="hero-subtext">Lorem ipsum dolor sit amet
                consectetur
                adipisicing elit!</span>
        </div>

        <button class="hero-btn hero-btn-mob">Зарегистрироваться</button>
    </div>
</section>