<section class="program">
    <div class="container">
        <h2 class="program-title title">Програма курсу</h2>
        <div class="program__wrapper slider" id="slider">

            <ul class="swiper-container">
                <li class="slide">
                    <img src="./images/program_01.png" alt="program_01">
                    <div class="wraps">
                        <div class="program__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <span>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit
                        </span>

                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img src="./images/program_02.png" alt="program_02">
                    <div class="wraps">
                        <div class="program__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <span>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit
                        </span>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img src="./images/program_03.png" alt="program_03">
                    <div class="wraps">
                        <div class="program__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <span>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit
                        </span>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img src="./images/program_04.png" alt="program_04">
                    <div class="wraps">
                        <div class="program__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <span>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit
                        </span>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img src="./images/program_05.png" alt="program_05">
                    <div class="wraps">
                        <div class="program__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <span>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit
                        </span>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img src="./images/program_06.png" alt="program_06">
                    <div class="wraps">
                        <div class="program__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <span>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit
                        </span>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img src="./images/program_07.png" alt="program_07">
                    <div class="wraps">
                        <div class="program__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <span>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit
                        </span>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img src="./images/program_08.png" alt="program_08">
                    <div class="wraps">
                        <div class="program__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <span>Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit
                        </span>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
            </ul>


            <div class="slider__nav program__nav"></div>

        </div>
        <div class="program__submenu none">
            <ul class="program__submenu__list">
                <li class="program__submenu__item">
                    <h3>Модуль 1: Фундамент</h3>
                    <p>Открой для себя самую перспективную нишу в
                        криптовалютах, в которой сможете самостоятельно
                        зарабатывать приличные деньги</p>
                    <h4>Что будем изучать и делать:</h4>
                    <ul>
                        <li>Apps Development</li>
                        <li>SEO Services</li>
                        <li>Data Analysis</li>
                    </ul>
                </li>
                <li class="program__submenu__item">
                    <h3>Модуль 2: Фундамент</h3>
                    <p>Открой для себя самую перспективную нишу в
                        криптовалютах, в которой сможете самостоятельно
                        зарабатывать приличные деньги</p>
                    <h4>Что будем изучать и делать:</h4>
                    <ul>
                        <li>Apps Development</li>
                        <li>SEO Services</li>
                        <li>Data Analysis</li>
                    </ul>
                </li>
                <li class="program__submenu__item">
                    <h3>Модуль 3: Фундамент</h3>
                    <p>Открой для себя самую перспективную нишу в
                        криптовалютах, в которой сможете самостоятельно
                        зарабатывать приличные деньги</p>
                    <h4>Что будем изучать и делать:</h4>
                    <ul>
                        <li>Apps Development</li>
                        <li>SEO Services</li>
                        <li>Data Analysis</li>
                    </ul>
                </li>
                <li class="program__submenu__item">
                    <h3>Модуль 4: Фундамент</h3>
                    <p>Открой для себя самую перспективную нишу в
                        криптовалютах, в которой сможете самостоятельно
                        зарабатывать приличные деньги</p>
                    <h4>Что будем изучать и делать:</h4>
                    <ul>
                        <li>Apps Development</li>
                        <li>SEO Services</li>
                        <li>Data Analysis</li>
                    </ul>
                </li>
                <li class="program__submenu__item">
                    <h3>Модуль 5: Фундамент</h3>
                    <p>Открой для себя самую перспективную нишу в
                        криптовалютах, в которой сможете самостоятельно
                        зарабатывать приличные деньги</p>
                    <h4></h4>
                    <ul>
                        <li>Apps Development</li>
                        <li>SEO Services</li>
                        <li>Data Analysis</li>
                    </ul>
                </li>
                <li class="program__submenu__item">
                    <h3>Модуль 6: Фундамент</h3>
                    <p>Открой для себя самую перспективную нишу в
                        криптовалютах, в которой сможете самостоятельно
                        зарабатывать приличные деньги</p>
                    <h4>Что будем изучать и делать:</h4>
                    <ul>
                        <li>Apps Development</li>
                        <li>SEO Services</li>
                        <li>Data Analysis</li>
                    </ul>
                </li>
                <li class="program__submenu__item">
                    <h3>Модуль 7: Фундамент</h3>
                    <p>Открой для себя самую перспективную нишу в
                        криптовалютах, в которой сможете самостоятельно
                        зарабатывать приличные деньги</p>
                    <h4></h4>
                    <ul>
                        <li>Apps Development</li>
                        <li>SEO Services</li>
                        <li>Data Analysis</li>
                    </ul>
                </li>
                <li class="program__submenu__item">
                    <h3>Модуль 8: Фундамент</h3>
                    <p>Открой для себя самую перспективную нишу в
                        криптовалютах, в которой сможете самостоятельно
                        зарабатывать приличные деньги</p>
                    <h4>Что будем изучать и делать:</h4>
                    <ul>
                        <li>Apps Development</li>
                        <li>SEO Services</li>
                        <li>Data Analysis</li>
                    </ul>
                </li>
            </ul>
            <button type="button"
                class="program__submenu-button">Згорнути</button>
        </div>
    </div>
</section>