<section class="rate">
    <div class="container">
        <h2 class="title">Тарифи навчання</h2>
        <div class="slider rate__slider">
            <ul class="rate__list swiper-container">
                <li class="slide">
                    <div class="slide__wrap">
                        <h3>Колеги</h3>
                        <p>Діє при оплаті навчання групи з трьох осіб</p>
                        <div class="rate__list-wrap">
                            <ul class="rate__list__sublist">
                                <li>9 модулів за 6 тижнів</li>
                                <li><span>3 329</span>/місяць</li>
                                <li><span>3 329</span>на 24 місяць</li>
                            </ul>
                            <ul class="rate__list__sublist">
                                <li>Одним платежом</li>
                                <li>75 900<p>-5%</p>
                                </li>
                                <li><span>79 900</span></li>
                            </ul>
                        </div>

                        <ul class="rate__sublist">
                            <li>9 модулів за 6 тижнів</li>
                            <li>Вебінари з експертами</li>
                            <li>Практичні завдання</li>
                            <li>Посвідчення про підвищення кваліфікації за
                                підсумками навчання</li>
                            <li>Безстроковий доступ до матеріалів</li>
                            <li>Груповий чат з експертами та координаторами
                                курсу</li>
                            <li>Професійне ком'юніті</li>
                        </ul>

                        <button type="button"
                            class="rate__list-button">Вибрати</button>
                    </div>

                </li>
                <li class="slide">
                    <div class="slide__wrap">
                        <h3>Колеги</h3>
                        <p>Діє при оплаті навчання групи з трьох осіб</p>
                        <div class="rate__list-wrap">
                            <ul class="rate__list__sublist">
                                <li>9 модулів за 6 тижнів</li>
                                <li><span>3 329</span>/місяць</li>
                                <li><span>3 329</span>на 24 місяць</li>
                            </ul>
                            <ul class="rate__list__sublist">
                                <li>Одним платежом</li>
                                <li>75 900<p>-5%</p>
                                </li>
                                <li><span>79 900</span></li>
                            </ul>
                        </div>

                        <ul class="rate__sublist">
                            <li>9 модулів за 6 тижнів</li>
                            <li>Вебінари з експертами</li>
                            <li>Практичні завдання</li>
                            <li>Посвідчення про підвищення кваліфікації за
                                підсумками навчання</li>
                            <li>Безстроковий доступ до матеріалів</li>
                            <li>Груповий чат з експертами та координаторами
                                курсу</li>
                            <li>Професійне ком'юніті</li>
                        </ul>

                        <button type="button"
                            class="rate__list-button">Вибрати</button>
                    </div>

                </li>
                <li class="slide">
                    <div class="slide__wrap">
                        <h3>Колеги</h3>
                        <p>Діє при оплаті навчання групи з трьох осіб</p>
                        <div class="rate__list-wrap">
                            <ul class="rate__list__sublist">
                                <li>9 модулів за 6 тижнів</li>
                                <li><span>3 329</span>/місяць</li>
                                <li><span>3 329</span>на 24 місяць</li>
                            </ul>
                            <ul class="rate__list__sublist">
                                <li>Одним платежом</li>
                                <li>75 900<p>-5%</p>
                                </li>
                                <li><span>79 900</span></li>
                            </ul>
                        </div>

                        <ul class="rate__sublist">
                            <li>9 модулів за 6 тижнів</li>
                            <li>Вебінари з експертами</li>
                            <li>Практичні завдання</li>
                            <li>Посвідчення про підвищення кваліфікації за
                                підсумками навчання</li>
                            <li>Безстроковий доступ до матеріалів</li>
                            <li>Груповий чат з експертами та координаторами
                                курсу</li>
                            <li>Професійне ком'юніті</li>
                        </ul>

                        <button type="button"
                            class="rate__list-button">Вибрати</button>
                    </div>

                </li>
            </ul>
            <div class="slider__nav">
            </div>

            <div class="slider__statusbar"></div>
        </div>

    </div>
</section>