<section class="speaker">
    <div class="container">
        <h2 class="speaker-title title">Спікери курсу</h2>
        <div class="speaker__wrapper slider" id="slider">

            <ul class="swiper-container">
                <li class="slide">
                    <img class="speaker_slider-img" src="./images/speaker_01.png"
                        alt="freepik__comic-art-graphic-novel-art-comic-illustration-hig__99202">
                    <div class="wraps">
                        <div class="speaker__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="speaker_slider-img" src="./images/speaker_02.png"
                        alt="business-woman-posing-street">
                    <div class="wraps">
                        <div class="speaker__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="speaker_slider-img" src="./images/speaker_03.png"
                        alt="beautifull-caucasian-woman-with-curly-hair-smiles-isolated">
                    <div class="wraps">
                        <div class="speaker__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="slider__nav">
            </div>
        </div>
    </div>

</section>