<section class="students">
    <div class="container">
        <h2 class="students-title title">Кейси учнів</h2>
        <div class="students__wrapper slider" id="slider">

            <ul class="swiper-container">
                <li class="slide">
                    <img class="students_slider-img" src="./images/students_01.png" alt="students_01">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="students_slider-img" src="./images/students_02.png" alt="students_02">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="students_slider-img" src="./images/students_03.png" alt="students_03">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="students_slider-img" src="./images/students_04.png" alt="students_04">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="students_slider-img" src="./images/students_05.png" alt="students_05">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="students_slider-img" src="./images/students_06.png" alt="students_06">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="students_slider-img" src="./images/students_07.png" alt="students_07">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="students_slider-img" src="./images/students_08.png" alt="students_08">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img src="./images/students_09.png" alt="students_09">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="students_slider-img" src="./images/students_10.png" alt="students_10">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="students_slider-img" src="./images/students_11.png" alt="students_11">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
                <li class="slide">
                    <img class="students_slider-img" src="./images/students_12.png" alt="students_12">
                    <div class="wraps">
                        <div class="students__wrap">
                            <h3 class="slider__wrap-title">Web Development
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit.
                                Neque repellendus minima reiciendis nobis
                                dolore
                                obcaecati.</p>
                        </div>
                        <ul class="slide__option">
                            <li class="active">Web Development</li>
                            <li>Digital Marketing</li>
                            <li>SaaS Products</li>
                            <li>Apps Development</li>
                            <li>SEO Services</li>
                            <li>Data Analysis</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="slider__nav">
            </div>
        </div>
    </div>
</section>