<section class="study">
    <div class="container">
        <h2 class="study-title title">Як проходить навчання</h2>
        <div class="study__wrapper">
            <div class="study__slider slider">
                <ul class="study__slider___container swiper-container">
                    <li class="slide">
                        <div class="slide__wrapper">
                            <img src="./images/study_01.png" alt="study"
                                class="study-img">
                            <button type="button"><img
                                    src="./images/play_circle.png"
                                    alt="play" />
                                Cмотреть видео</button>
                        </div>
                        <div class="slider_wraps">
                            <h3>Знакомитесь с платформой</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.
                                Felis amet
                                consectetur sollicitudin
                                at aliquam tincidunt laoreet auctor elit.
                                Lectus ipsum
                                sapien id turpis
                                elit cras ac. Velit risus nisl ut dictum
                                venenatis
                                mauris faucibus. Aliquam
                                vehicula gravida fermentum in sodales
                                fringilla mi at.
                                Turpis volutpat
                                parturient elit blandit proin magna pretium
                                vestibulum
                                elit. A massa
                                adipiscing pellentesque tempor ac vel.</p>
                        </div>
                    </li>
                    <li class="slide">
                        <div class="slide__wrapper">
                            <img src="./images/study_02.png" alt="study"
                                class="study-img">
                            <button type="button"><img
                                    src="./images/play_circle.png"
                                    alt="play" />
                                Cмотреть видео</button>
                        </div>
                        <div class="slider_wraps">
                            <h3>Знакомитесь с платформой</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.
                                Felis amet
                                consectetur sollicitudin
                                at aliquam tincidunt laoreet auctor elit.
                                Lectus ipsum
                                sapien id turpis
                                elit cras ac. Velit risus nisl ut dictum
                                venenatis
                                mauris faucibus. Aliquam
                                vehicula gravida fermentum in sodales
                                fringilla mi at.
                                Turpis volutpat
                                parturient elit blandit proin magna pretium
                                vestibulum
                                elit. A massa
                                adipiscing pellentesque tempor ac vel.</p>
                        </div>
                    </li>
                    <li class="slide">
                        <div class="slide__wrapper">
                            <img src="./images/study_03.png" alt="study"
                                class="study-img">
                            <button type="button"><img
                                    src="./images/play_circle.png"
                                    alt="play" />
                                Cмотреть видео</button>
                        </div>
                        <div class="slider_wraps">
                            <h3>Знакомитесь с платформой</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.
                                Felis amet
                                consectetur sollicitudin
                                at aliquam tincidunt laoreet auctor elit.
                                Lectus ipsum
                                sapien id turpis
                                elit cras ac. Velit risus nisl ut dictum
                                venenatis
                                mauris faucibus. Aliquam
                                vehicula gravida fermentum in sodales
                                fringilla mi at.
                                Turpis volutpat
                                parturient elit blandit proin magna pretium
                                vestibulum
                                elit. A massa
                                adipiscing pellentesque tempor ac vel.</p>
                        </div>
                    </li>
                    <li class="slide">
                        <div class="slide__wrapper">
                            <img src="./images/study_04.png" alt="study"
                                class="study-img">
                            <button type="button"><img
                                    src="./images/play_circle.png"
                                    alt="play" />
                                Cмотреть видео</button>
                        </div>
                        <div class="slider_wraps">
                            <h3>Знакомитесь с платформой</h3>
                            <p>Lorem ipsum dolor sit amet consectetur.
                                Felis amet
                                consectetur sollicitudin
                                at aliquam tincidunt laoreet auctor elit.
                                Lectus ipsum
                                sapien id turpis
                                elit cras ac. Velit risus nisl ut dictum
                                venenatis
                                mauris faucibus. Aliquam
                                vehicula gravida fermentum in sodales
                                fringilla mi at.
                                Turpis volutpat
                                parturient elit blandit proin magna pretium
                                vestibulum
                                elit. A massa
                                adipiscing pellentesque tempor ac vel.</p>
                        </div>
                    </li>
                    </li>
                </ul>
                <div class="slider__nav">
                </div>
            </div>
        </div>
    </div>
</section>