<section class="well">
    <div class="container">
        <h2 class="well-title title">Кому буде корисний курс</h2>
        <div class="well__wraper">
            <div class="well__wrapper__prim">
                <h3>Trusted By Worldwide Clients Since 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    A
                    officia
                    molestiae dolorum tempora ut accusamus cupiditate!
                    Nesciunt
                    tempora
                    reiciendis libero voluptate!</p>
            </div>
            <ul>
                <li>
                    <h4>First On Field</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Aspernatur, iste</p>
                </li>
                <li>
                    <h4>Worldwide</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Aspernatur, iste</p>
                </li>
                <li>
                    <h4>Easy to reach</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Aspernatur, iste</p>
                </li>
                <li>
                    <h4>24/7 Support</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Aspernatur, iste</p>
                </li>
            </ul>

        </div>
    </div>
</section>